<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718282325757-jo1e0pfduhorhieakn7it0sch4iq5odu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718282325757-jo1e0pfduhorhieakn7it0sch4iq5odu</string>
	<key>API_KEY</key>
	<string>AIzaSyBQhfqfkJFgkse_AXQ5sGy6J4HEqrEEnqc</string>
	<key>GCM_SENDER_ID</key>
	<string>718282325757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fabiansimon.payuca-case-study</string>
	<key>PROJECT_ID</key>
	<string>payuca-case-study</string>
	<key>STORAGE_BUCKET</key>
	<string>payuca-case-study.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:718282325757:ios:a3576b0e6b1d9cc8e5c894</string>
</dict>
</plist>
